html,
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
img,
em,
ol,
ul,
li,
dl,
dt,
dd,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
nav,
section,
div,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    text-align: center;
}

@font-face {
    font-family: Norwester;
    src: url("fonts/norwester.otf");
}

/* --- general --- */

body {
    background-color: #fff;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
}

/* --- main blocks --- */

.flex-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-header {
    flex: 0 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
}

.flex-main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-footer {
    flex: 0 0 80px;
    max-height: 80px;
}

/* --- typography --- */

#time {
    font-size: 80px;
}

h1 {    
    font-family: Norwester, sans-serif;
    font-weight: 100;
    text-transform: lowercase;
}

.time-text {
    font-family: "Droid Sans Mono", monospace;
}

body, .material-icons {
    color: white;
}

.material-icons.md-72 {
    font-size: 72px;
}

.md-play-arrow {
    margin-right: 3px;
}

/* --- nav-top --- */

.nav-btn {
    padding: 16px;
}

/* --- main section --- */

.flex-main {
    position: relative;
}

.flex-main-top {
    position: absolute;
    top: 20px;
    /* --- adjust when resizing! --- */
}

/* --- test --- */

body {
    background-color: #5691c8;
}

.nav-top, .nav-bottom {
    background-color: rgba(0,0,0,0.01);
}
