html,
body,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
code,
img,
em,
ol,
ul,
li,
dl,
dt,
dd,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
main,
nav,
section,
div,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    max-height: 100%;
}

@font-face {
    font-family: Norwester;
    src: url("fonts/norwester.otf");
}

/* --- general --- */

body {
    background-color: #fff;
    font-size: 100%;
    font-family: "Open Sans", sans-serif;
    color: #222;
}

h1 {    
    font-family: Norwester, sans-serif;
}

.time-text {
    font-family: "Droid Sans Mono", monospace;
}

button {
    cursor: pointer;
    outline: none;
    text-align: center;
}

/* --- main blocks --- */


